body{
    background-color: lightyellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.btn{
    background: pink;
    margin: 20px;
}

.add-btn {
    width: 10rem;
}

.app-title{
    text-align: center;
    color: lightblue;
    font-size: 70px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 2rem;
    border: 5px solid pink;
    border-radius: 25px;

}

.input {

    width: 10rem;
}